*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

header{
    background-color: rgb(197, 23, 127);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: rgb(109, 14, 143);
}

.logo{
    height: 50px;
}

header nav{
    display: flex;
    gap: 15px;
}

main{
    display: flex;
    gap: 40px;
    padding: 20px;
}

.secao1{
    /*flex-grow: 1;*/
    width: 70%;
    background-color: rgb(241, 164, 206);
    padding: 20px;
    border-radius: 40px;
}

.secao2{
    width: 30%;
    padding: 20px;
    background-color: rgb(241, 164, 206);
    border-radius: 40px;
}

footer{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    width: 100%;
    background-color: rgb(197, 23, 127);
    color: aliceblue;
    bottom: 0;
    position: fixed;
}

footer p{
    margin: 5px 0;
}
